.doctor_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #F9FAFB;
}
.doctor_hero_title{
    font-size: clamp(2.5rem,5vw,4rem);
    max-width:  700px;
}
.doctor_hero_section{
    display: flex;
    flex-direction: column;
    /* margin: 1rem; */
    background-color: #fff;
    padding: 2rem;
}
.doctor_hero_description{
    font-size: clamp(0.8rem,2vw,1.2rem);
    color:#555;
    margin-top: 0.5rem;
    font-weight: 600;
}
.doctor_menu_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.doctor_menu_button{
    padding: 0.3rem;
    font-size: clamp(0.55rem,2vw,1rem);
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: transparent;
}
.doctor_menu_container{
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-evenly;
    gap:0.5rem;
    width: 95%;
    border-radius: 2rem;
    background-color: rgba(84, 70, 209, 0.108);
    /* backdrop-filter: blur(10px); */
    align-items: center;
    overflow:scroll;
}
.doctor_menu_container::-webkit-scrollbar{
    display: none;
}
.doctor_menu_button:hover{
    border: 1px solid #555;
}
.doctor_menu_button:active{
    background-color: #2563eb;
}
.doctor_list{
    display: flex;
    flex-direction: row;
    gap:1rem;
    overflow:scroll;
    padding: 2rem;
    background-color: #fff;
}
.doctor_list::-webkit-scrollbar{
    display: none;
}
@media (max-width:768px){
   .doctor_list{
    display: flex;
    flex-direction: column;
    gap:1rem;
    overflow:scroll;
    padding: 2rem;
    align-items: center;
} 
}