.card_doctor_container{
   background-color:#ffff;
    height: fit-content;
    width: 10%;
    min-width: 250px;
    border-radius: 0.5rem;
    padding: min(1rem,8%);
    border: 0.75px solid lightgrey;
}
.card_doctor_img{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 300px;
}
.doctor_image{
    width: 100%;
    height:auto;
    object-fit: cover;
}
.doctor_name{
    font-size: clamp(0.9rem,5vw,1.5rem);
    margin-top: 1rem;
}
.doctor_specialty{
    font-size: clamp(0.2rem,3vw,0.9rem);
    padding-top: 5px;
    font-weight: 500;
    color: #2563eb;
}
