.about_hero_section{
     height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    margin: 15px;
}
.about_hero_title{
    font-size: clamp(1.8rem,5vw,4rem);
    max-width:  700px;
}
.about_hero_description{
     margin-top: 15px;
    font-size: clamp(0.5rem,4vw,1.5rem);
    max-width: 700px;
    line-height: 1.6;
    color:#555;
    border-radius: 8px;
}
.about_hero_mission , .about_hero_vision{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 45px;
    padding: 15px;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0,0.3);
    border-radius: 1rem;
}
.about_hero_mission_title , .about_hero_vision_title{
    font-size: clamp(1.3rem,3vw,2rem);
}
.about_hero_mission_description , .about_hero_vision_description{
     margin-top: 15px;
    font-size: clamp(0.5rem,4vw,1.5rem);
    max-width: 600px;
    color: rgba(25, 63, 102, 0.636);
    font-weight:600;
}
.about_hero_img_conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 40%;
    max-width: fit-content;
    min-width: 220px;
    height: auto;
    margin-top: 35px;
}
.about_hero_img{
     width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
    border-radius: 1rem;
}
.about_features{
    margin-top: 30px;
    background-color:#EEF3F8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 30px;
    padding: 25px;
}
.about_child{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-left: 5px solid #1e40af;
    padding: 1rem;
    margin-left: 30%;
}
.about_child_title{
    font-size: clamp(1.5rem,3vw,2rem);
}
.about_child_descreption{
    font-size: clamp(0.5rem,3vw,1rem);
    font-weight: 500;
    color: rgba(25, 63, 102, 0.636);
}
.about_leadership{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.about_leadership_cards_container{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    gap:1rem;
   justify-content: center;
}
.about_leadership_title{
    font-size: clamp(2rem,3vw,3rem);
    margin-top: 2rem;
}
.about_leadership_descrition{
    font-size: clamp(0.3rem,3vw,1rem);
     color: rgba(25, 63, 102, 0.636);
     font-weight: 600;
     text-align: center;
}
.about_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    padding-top: 15%;
    padding-bottom: 15%;
    border: 0.5px solid #b0a5a53b;
}
.about_conact_tite{
    
    font-size: clamp(2rem,4vw,4rem);
}
.about_contact_description{
    margin-top: 1rem;
    font-size: clamp(0.9rem,2vw,1.2rem);
    max-width: 500px;
    text-align: center;
    color: #838181;
    font-weight: 500;
}
.about_contact_button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    background-color:#2563eb ;
    color: #fff;
    cursor: pointer;
}
@media (max-width:768px) {
    .about_child{
        margin-left: 25px;
    }
    .about_leadership_cards_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}