.home_conatiner{
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
}
.home_banner{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 50px;
}
.home_left_content{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: flex-start;
    height: 100%;
}
.home_banner_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 40%;
    max-width: 650px;
    min-width: 220px;
    height: auto;
}
.banner_img{
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: fill;
    border-radius: 6px;
}
.home_title{
    font-size: clamp(1.8rem,5vw,4rem);
    max-width:  300px;
}
.home_about{
    margin-top: 15px;
    font-size: 1.5rem;
    max-width: 100%;
    line-height: 1.6;
    color:#555;
    border-radius: 8px;
}
.home_btn{
display: flex;
gap: 20px;
width: 100%;
padding-top: 30px;
}
.home_btn1,.home_btn2{
    font-size: medium;
    padding: 0.5rem;
    font-weight: 600;
    background-color: #2563eb;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.home_btn1:hover,.home_btn2:hover{
    background:#1e40af;
}
.home_btn1:active,.home_btn2:active{
    background:#7f7f7f;
}
.home_dept{
    background-color: #EEF3F8;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home_dept_title{
    font-size: clamp(1.8rem,5vw,2rem);
    max-width:  900px;
    margin-top: 20px;
}
.home_dept_description{
    font-size: clamp(0.5rem,3vw,1rem);
    max-width: 100%;
    line-height: 1.6;
    color:#555;
    border-radius: 8px;
    margin-top: 10px;
}
.home_cards_dept{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    overflow: scroll;
    padding: 25px;
    margin-left: 25px;
    margin-bottom: 35px;
    gap: 25px;
}
.home_cards_dept::-webkit-scrollbar{
    display: none;
}
.home_doctors{
    background-color: #F9FAFB;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}
.home_doctors::-webkit-scrollbar{
    display: none;
}
.home_doctors_title{
    font-size: clamp(1.8rem,5vw,2rem);
    max-width:  900px;
    margin-top: 20px;

}
.home_doctors_description{
    font-size: clamp(0.5rem,3vw,1rem);
    max-width: 100%;
    line-height: 1.6;
    color:#555;
    border-radius: 8px;
    margin-top: 5px;
}
.home_cards_doctor{
    margin-top: 20px;
    margin-left: 10px;
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap:25px;
    overflow: scroll;
    justify-content: center;
}
.home_cards_doctor::-webkit-scrollbar{
    display: none;
}
.home_contact_conatiner{
    background-color: #0b103c;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}
.home_contact_title{
    font-size: clamp(1.8rem,5vw,2rem);
    max-width:  900px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
.home_contact_decription{
    font-size: clamp(0.5rem,3vw,1rem);
    max-width: 100%;
    line-height: 1.6;
    color:#9d8e8e;
    border-radius: 8px;
    margin-top: 15px;
    text-align: center;
}
.home_contact_emergency_button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: #fff;
    cursor: pointer;
}
.home_contact_img{
   margin-top: 50px;
   padding: 10px;
   border-radius: 50%;
   background-color: whitesmoke;
}
.home_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 45px;
}
.footer_hospital_info{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    gap: 5px;
    justify-content: space-evenly;
}
.footer_hospital_title{
    font-size: clamp(0.5rem,4vw,2rem);
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 10px;
}
.footer_hospital_description{
    font-size: clamp(0.75rem,3vw,0.9rem);
    color:#555 ;
}
.footer_contact_us{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    width:40%;
}
.footer_contact-title{
    font-size: clamp(0.8rem,2vw,3rem);
}
.footer_items{
    font-size: clamp(0.9rem,2vw,1rem);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    color:#555 ;
}
.footer_logo{
    width: 10%;
    height: auto;
    max-height: 30px;
}
.footer_hospital_logo{
    width:10%;
    height: auto;
    max-height: 50px;
}
@media (max-width:768px) {
    .home_conatiner{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    width: 100%;
    overflow-x: hidden;
    }
    .home_banner{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
    }
    .home_left_content{
        width: 100%;
    }
    .home_btn1{
    font-size: small;
    padding: 0.25rem;
    font-weight: 600;
    background-color: #2563eb;
    border: none;
    border-radius: 5px;
    color: #fff;
    }
    .home_btn2{
    font-size: small;
    padding: 0.25rem;
    font-weight: 600;
    background-color: #2563eb;
    border: none;
    border-radius: 5px;
    color: #fff;
    }
    .home_banner_img{
        width: 100%;
        margin-top: 20px;
    }
    .banner_img{
        height: auto;
        width: 100%;
    }
    .home_cards_dept{
        flex-direction: row;
        padding: 0.75rem;
        margin-left: 25px;
        overflow: scroll;
    }
    /* .home_conatiner{overflow-x: hidden;} */
    .home_dept{
    margin-top: 0;
    }
    .home_cards_doctor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}