.contact_conatiner{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    /* align-items: center; */
}
.contact_hero_section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ebf5fe;
    padding: 1rem;
}
.contact_hero_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    gap: 1rem;
    height: max-content;
}
.contact_hero_title{
    font-size: clamp(1.8rem,5vw,4rem);
    max-width:  90%;
}
.contact_hero_description{
    font-size: clamp(0.7rem,1.5vw,2rem);
    max-width: 100%;
    color:#696969;
    border-radius: 8px;
    font-weight: 500;
}
.contact_hero_speciality{
    font-size: clamp(1.4rem,3vw,2rem);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid #2563eb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.contact_hero_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 20dvh;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(255, 30, 30);
    color: #FFF;
    cursor: pointer;
}
.contact_hero_img{
   display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 40%;
    max-width: fit-content;
    min-width: 220px;
    height: auto;
}
.contact_hero_banner_img{
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
}
.contact_hero_clock_logo{
    margin-right: 1rem;
    margin-left: 1rem;
}
.contact_info_section{
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: blue; */
    padding: 1rem;
    gap: 1rem;
    align-items: center;
}
.contact_info_title{
    font-size: clamp(1.5rem,4vw,2.5rem);
    max-width:  90%;
}
.contact_info_description{
     font-size: clamp(0.9rem,1.5vw,1.5rem);
    max-width: 100%;
    color:#696969;
    text-align: center;
}
.contact_info_card_container{
    display: flex;
    flex-direction:row;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}
.contact_info_card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    background-color: #ebf5fe;
    padding: 1.5rem;
    border-radius: 1rem;
    border: 0.5px solid #c8d4de;
    width: 70%;
}
.contact_info_card_title{
    font-size: clamp(1rem,4vw,1.5rem);
    max-width:  90%;
}
.contact_info_card_description{
    font-size: clamp(0.5rem,3vw,1rem);
    color: #555;
}
.contact_info_card_number{
    font-size: clamp(0.4rem,3vw,1.4rem);
    color: #2563eb;
    font-weight: 600;
}
.contact_location_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 3rem;
    background-color: #ebf5fe;
}
.contact_location_conatiner{
    display: flex;
    flex-direction: column;
    width: 70%;
    /* background-color: red; */
    gap: 0.5rem;
}
.contact_location_title{
    font-size: clamp(1rem,4vw,1.5rem);
    margin-top: 1rem;
}
.contact_location_description{
    font-size:clamp(0.5rem,3vw,1rem);
    color: #696969;
}
.contact_location_gmap_conatiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    /* background-color: #2563eb; */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    background-color: #ffffff;
    min-height:60dvh;
     border: 0.5px solid #c8d4de;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3rem;
    margin-top: 1rem;
    }
.contact_location_gmap{
    width: 100%;
    object-fit: fill;
    height: 40dvh;
    flex: 1 1 40%;
}
.contact_location_address{
    font-size:clamp(0.5rem,3vw,1rem);
    color: #524f4f;
    text-align: left;
    margin: 1rem;
    background-color: #ffffff;
}
.contact_location_address_title{
    color: #000;
}
.contact_location_address_logo{
    margin: 1rem;
    margin-bottom: 0;
}
@media (max-width:768px) {
    .contact_hero_img{
        display: none;
    }
    .contact_hero_content{
        width: 90%;
    }
    .contact_info_card_container{
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .contact_info_card{
        width: 70%;
    }
    .contact_location_section{
        padding: 0.5rem;
    }
    .contact_location_gmap_conatiner{
        min-height:40dvh;
    }
    .contact_location_gmap{
        height: 30dvh;
    }
}