.card_dept_conatiner{
    background-color:#ffff;
    height: fit-content;
    width: 10%;
    min-width: 250px;
    border-radius: 0.5rem;
    padding: min(1rem,8%);
    border: 0.75px solid lightgrey;
}

.card_dept_img{
    background-color: #EEF3F8;
    border-radius: 3px;
    padding: 2px;
}

.card_dept_title{
    font-size: clamp(0.9rem,5vw,1.5rem);
    margin-top: 1rem;
}

.card_dept_description{
    font-size: clamp(0.2rem,3vw,1rem);
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    color: lightslategray;
    font-weight: 400;
}
@media (max-width:768px){
    .card_dept_conatiner{
    min-width: 150px;
    height: 150px;
    padding: min(3rem,2%);
    overflow: scroll;
    }
    .card_dept_conatiner::-webkit-scrollbar{
        display: none;
    }
}