.modal_dept_overlay{
 display: none;
} 
.modal_dept_overlay_active{
   background-color: transparent;
   backdrop-filter: blur(0.5rem); 
   position: fixed; 
   height: 100vh;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   display: flex;
   justify-content: center;
   align-items: center;
}
.modal_dept_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    /* max-height: 95dvh; */
    background-color: #EEF3F8;
    border-radius: 2rem;
    position: relative;
    padding: 1rem ;
    padding-bottom: 1rem;
    border:0.5px solid #393e49b4;
}
.modal_dept_hero_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.modal_dept_hero_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal_doctor_dept_title{
    font-size: clamp(1rem,4vw,3rem);
    font-weight: 700;
}
.modal_dept_hero_subTitle{
    font-size: clamp(0.5rem,2.5vw,1rem);
    font-weight: 400;
    color: #2563eb;
}
.modal_dept_about_section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    gap: 0.5rem;
}
.modal_dept_about_title{
    font-size: clamp(1rem,2.5vw,2rem);
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid #686a6d8a;
    padding-bottom:0.5rem;
    text-align: left;
}
.modal_dept_about_description{
    font-size: clamp(0.5rem,3vw,1rem);
    font-weight:500;
    color: #595a5bd6;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.197);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 0.3rem;
    text-align: left;
}
.modal_dept_service_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
}
.modal_dept_service_title{
    font-size: clamp(1rem,2.5vw,2rem);
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid #686a6d8a;
    padding-bottom:0.5rem;
    text-align: left;
}
.modal_dept_service_option_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    margin-top:1rem;
    gap: 1rem;
    justify-items: flex-start;
    margin-bottom: 1rem;
}
.modal_dept_service_option{
    font-size: clamp(0.5rem,3vw,1rem);
    font-weight:400;
    color: #4b4d4fd6;
    /* max-width: 30vh; */
    box-shadow: 3px 3px  rgba(0, 0, 0, 0.197);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.modal_dept_doctor_section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: transparent;
}
.modal_dept_doctors_title{
    font-size: clamp(1rem,2.5vw,2rem);
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid #686a6d8a;
    padding-bottom:0.5rem;
    text-align: left;
}
.modal_cards_dept{
     display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    margin-top:1rem;
    margin-bottom: 2rem;
    gap: 1rem;
    justify-items: flex-start;
    margin-bottom: 1rem;
    max-height: 25vh;
    width: 100%;
    overflow: scroll;
}
.modal_cards_dept::-webkit-scrollbar{
    display: none;
}
.modal_dept_hero_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.modal_dept_icon{
    object-fit:cover;
    height: clamp(2rem,5vw,3rem);
}